<footer class="footer">
  <div class="footer_left">
    <small class="footer_copyright">
      Sanaan &copy; {{ site.time | date: "%Y" }}
    </small>
  </div>
  
  <div class="footer_right">
    <a class="footer_item" href="/advisories/">Advisories</a>
    <a class="footer_item" href="https://github.com/sfwani" rel="me">GitHub</a>
    <a class="footer_item" href="https://www.linkedin.com/in/sfwani" rel="me">LinkedIn</a>
    <a class="footer_item" href="mailto:code.sanaan@gmail.com">Email</a>
  </div>
</footer>
<script src="/assets/js/main.js" defer="defer"></script>
{%- if site.google_analytics -%}
  <!-- Google tag (gtag.js) -->
  <script
  async
  src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "{{ site.google_analytics }}");
  </script>
{%- endif -%}
